<h1>A Guitar Is Born!</h1>
<center>
<%= will_paginate @devonshires %>
<table cellpadding="20">
<% 
	x = 0 
	ctr = 0
%>
<% while x < 1 %>
  <tr>
	<% begin 
		 devonshire = @devonshires.shift 
		 ctr += 1
	%>
	    <td align="center" valign="top" width="300">
			<%= devonshire.title %><br>
	    	<%= image_tag devonshire.photo.url(:large), :width => '280' %><br>
			<div id="devonshiredescription">
	    		 <%= devonshire.description %>
			</div>
		</td>
	<%
		rescue
			x = 10
			break	
		end
	%>
	<% begin 
		 devonshire = @devonshires.shift 
		 ctr += 1
	%>
	    <td align="center" valign="top" width="300">
			<%= devonshire.title %><br>
	    	<%= image_tag devonshire.photo.url(:large), :width => '280' %><br>
			<div id="devonshiredescription">
	    		 <%= devonshire.description %>
			</div>
		</td>
	<%
		rescue
			x = 10
			break	
		end
	%>
  </tr>
<% end %>
</table>
<%= will_paginate @devonshires %>
</center>