<p>
  <b>Title:</b>
  <%=h @devonshire.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @devonshire.description %>
</p>

<p>
  <b>Photo file name:</b>
  <%=h @devonshire.photo_file_name %>
</p>

<p>
  <b>Photo content type:</b>
  <%=h @devonshire.photo_content_type %>
</p>

<p>
  <b>Photo file size:</b>
  <%=h @devonshire.photo_file_size %>
</p>


<%= link_to 'Edit', edit_devonshire_path(@devonshire) %> |
<%= link_to 'Back', devonshires_path %>