<h1>Editing project</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date_complete %><br />
    <%= f.date_select :date_complete %>
  </p>
  <p>
    <%= f.label :hours_to_build %><br />
    <%= f.text_field :hours_to_build %>
  </p>
  <p>
    <%= f.label :specs %><br />
    <%= f.text_area :specs %>
  </p>
  <p>
    <%= f.label :client_location %><br />
    <%= f.text_field :client_location %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>