<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date complete</th>
    <th>Hours to build</th>
    <th>Specs</th>
    <th>Client location</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%=h project.name %></td>
    <td><%=h project.date_complete %></td>
    <td><%=h project.hours_to_build %></td>
    <td><%=h project.specs %></td>
    <td><%=h project.client_location %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Add Pics', :controller => "project_pics", :action => "index", :project_id => project.id %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_project_path %>