<center><h1>Some Recent Projects</h1></center>

<table width="800">
  <tr>
    <th></th>
    <th align="left"><u>Project</u></th>
    <th align="left"><u>Specs</u></th>
    <th align="left"><u>Client Location</u></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
	<td><a href="/publicshow?id=<%= project.id %>"><%= image_tag project.project_pics.first.photo.url(:thumb) %></a></td>
    <td valign="top"><%=h project.name %></td>
    <td valign="top" width="360"><%=h project.specs %></td>
    <td valign="top"><%=h project.client_location %></td>
  </tr>
<% end %>
</table>

<br />
